.stepsContent {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.stepsAction {
  margin-top: 24px;
}

.nameInput {
  width: 70% !important;
}

.formRate {
  justify-content: space-around;

  display: inline-flex !important;
  width: 200px;
  height: 40px;

  border-radius: 10px;
  border: 1px solid black;
}

.invisible {
  display: none;
}
