.film {
  flex-direction: column;
  align-items: center;

  display: inline-flex;
  padding-top: 20px;
  margin: 0 50px 50px 0;
  width: 250px;
  min-height: 450px;

  border-radius: 10px;
  background-color: #24254e;
  box-shadow: inset #24254e22 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
}

.filmImg {
  width: 200px;
  margin-bottom: 15px;
}

.filmTitle {
  max-width: 200px;
  color: #cccee4 !important;
  font-size: x-large !important;
  text-align: center;
}

.learnMoreButton {
  margin-bottom: 20px;
}

.learnMoreButton:not(:hover) {
  color: #cccee4 !important;
}

.learnMoreContent {
  display: flex;
}

.filmDescripion {
  margin-left: 20px;
}
